cryptography
django
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
pytest-django
django-debug-toolbar
drf-spectacular
nodeopenrivercam @ https://github.com/localdevices/nodeorc.git