cryptography
django
djangorestframework
djangorestframework-simplejwt
django-admin-rangefilter
drf-nested-routers
pytest-django
django-debug-toolbar
drf-spectacular
django-extensions
shortuuid
nodeopenrivercam @ https://github.com/localdevices/nodeorc.git