cryptography
django
djangorestframework
djangorestframework-simplejwt
django-admin-rangefilter
django-admin-interface
drf-nested-routers
pytest-django
django-debug-toolbar
django-filter
django-object-actions
djangorestframework-csv
djangorestframework-queryfields
drf-spectacular
django-extensions
shortuuid
fontawesomefree
pytest-django

nodeopenrivercam @ https://github.com/localdevices/nodeorc.git

