celery
cryptography
Django
djangorestframework
djangorestframework-csv
djangorestframework-queryfields
djangorestframework-simplejwt
django-admin-rangefilter
django-admin-interface
django-debug-toolbar
django-extensions
django-filter
django-import-export
django-json-widget
django-object-actions
django-storages
drf-nested-routers
drf-spectacular
fontawesomefree
pytest-django
psycopg2-binary
shortuuid
