{% extends "admin/base.html" %}
{% load static %}


{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
{% block extrastyle %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
<h1 id="site-name"><img src="{% static 'local_devices.png' %}" height="40px" /><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a> - <span style="font-size: 15px"><select name="switch_institute"
        ><option disabled>Switch Institute</option> {% for member in user.get_institutes %}<option {% if active_institute == member.institute %}selected{% endif %} value="{{ member.institute.pk }}"> {{ member.institute }}</option> {% endfor %}</select></span></h1>
{% block extrajs %}
    <script type="text/javascript">
        document.querySelectorAll("[name=switch_institute]")[0].addEventListener('change',
           function () {
               window.location = "/api/institute_switch/" + this.value + "/?next={{ request.path|urlencode }}";
           });
    </script>
{% endblock %}

{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
